button {
    width:12%;
    height:50px;
    text-align: center;
    font-size: 30px;
    background-color: lightgrey;
    border: solid black 1px;
    border-radius: 3rem;
    cursor:pointer;
}

button:hover {
    background-color: darkgrey;
}