.card {
    width: 320px;
    height: 980px;
    border: solid black 2px;
    background-color: lightgray;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    padding-top: 2%;
}

.indent{
    font-style: italic;
    margin-top: -1px;
    margin-bottom: -1px;
}
.espace{
    margin-top: 2%;
}

.italic{
    font-style: italic;
}

.DAindice{
    display: flex;
    align-items: center;
}

.photo {
    width: 150px;
    max-height: 250px;
}  