<div class="card">
    <form [formGroup]="questionForm">
    <label> Question <br>
        <input class="input-custom" type="text" id="label" [formControlName]="'label'" required> <br> <p class="indent">{{this?.question?.label}}</p>
    </label><br/>
    <label> Réponse 1 <br>
        <input class="input-custom" type="text" id="q1" [formControlName]="'q1'" required>
        <input class="rr" type="checkbox" id="rr1" (change)="selectResponseNumber(0)">
        <label>Juste</label>
        <p class="indent">{{this.answers[0]}}</p>
    </label><br/>

    <label> Réponse 2 <br>
        <input class="input-custom" type="text" id="q2" [formControlName]="'q2'" required>
        <input class="rr" type="checkbox" id="rr2" (change)="selectResponseNumber(1)">
        <label>Juste</label> 
        <p class="indent">{{this.answers[1]}}</p>
    </label><br/>

    <label> Réponse 3 <br>
        <input class="input-custom" type="text" id="q3" [formControlName]="'q3'" required>
        <input class="rr" type="checkbox" id="rr3" (change)="selectResponseNumber(2)">
        <label>Juste</label>
        <p class="indent">{{this.answers[2]}}</p>
    </label><br/>

    <label> Réponse 4 <br>
        <input class="input-custom" type="text" id="q4" [formControlName]="'q4'" required>
        <input class="rr" type="checkbox" id="rr4" (change)="selectResponseNumber(3)">
        <label>Juste</label>
        <p class="indent">{{this.answers[3]}}</p>
    </label><br/>

    <section class="indent">
        <label> Indices:<br>
            
            <div class="DAindice" *ngIf="nbIndice[0]===true">
                <p>1.</p>
                <input class="input-custom" type="text" id="i1" [formControlName]="'i1'"> <br>
            </div>
            <div class="DAindice" *ngIf="nbIndice[1]===true">
                <p>2.</p>
                <input class="input-custom" type="text" id="i2" [formControlName]="'i2'"> <br>
            </div>
            <div class="DAindice" *ngIf="nbIndice[2]===true">
                <p>3.</p>
                <input class="input-custom" type="text" id="i3" [formControlName]="'i3'"> <br>
            </div>

        </label><br/>

        <button (click)="addIndice()">Ajouter indice</button>
        <button (click)="deleteIndice()">Supprimer indice</button>
    </section>
    
    <label> Photo de la Question (optionel) :
        <input class="input-custom" type="file" id="photoLien" [formControlName]="'photoLien'">    
    </label><br><br>
    <label> Question si la photo n'est pas affichée (uniquement si photo ajoutée):
        <input class="input-custom" type="text" id="photoTexte" [formControlName]="'photoTexte'"><p class="indent">{{this.texteImage}}</p>    
    </label>


    <div class="espace">
        <button type="submit" [disabled]="!questionForm.valid" (click)="editQuestion()">Modifier</button>
        <button type="submit" (click)="deleteQuestion()">Supprimer</button>
    </div>
    
    </form>
</div>