.profil-list {
    display: flex;
    flex-wrap: wrap;
}

.returnButton{
    display: flex;
    padding-top: 10px;
    justify-content: center;
}


.boutonProfil {
    display: flex;
    padding-top: 10px;
    justify-content: center;  
    text-align: center;
    font-size: 30px;
    background-color: lightgrey;
    border: solid black 2px;
    border-radius: 1rem;
    cursor:pointer;
}

.boutonProfil:hover {
    background-color: darkgrey;
}

.Topbox{
    background-color: lightgrey;
    border: 2px black solid;
    width: fit-content;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    padding-left: 1%;
    padding-right: 1%;
}

.search-barPersonnel {
    margin-top: 20px;
    justify-self: center;
    width: 15%;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    border: 2px solid #6958cf;
    border-radius: 0.5rem;
    font-size: 1.2em;
    text-align: center;
    outline: none;
    transition: all 0.3s ease;
  
  }
  .search-barPatient {
    margin-top: 20px;
    justify-self: center;
    width: 15%;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    border: 2px solid #6958cf;
    border-radius: 0.5rem;
    font-size: 1.2em;
    text-align: center;
    outline: none;
    transition: all 0.3s ease;
  
  }
  
  .search-barPatient:focus {
    border-color: #a69fd1;
    box-shadow: 0 0 8px rgba(105, 88, 207, 0.5);
  }

  .search-barPersonnel:focus {
    border-color: #a69fd1;
    box-shadow: 0 0 8px rgba(105, 88, 207, 0.5);
  }