.profil-list {
    display: flex;
}

.returnButton{
    display: flex;
    padding-top: 10px;
    justify-content: center;
}


.boutonProfil {
    display: flex;
    padding-top: 10px;
    justify-content: center;  
    text-align: center;
    font-size: 30px;
    background-color: lightgrey;
    border: solid black 2px;
    border-radius: 1rem;
    cursor:pointer;
}

.boutonProfil:hover {
    background-color: darkgrey;
}