
<section class="couleurDeFond">
    <app-header></app-header><br/><br/>
    <button class="boutonProfil" [routerLink]="['createProfil']">Ajouter un profil</button><br/><br/>
    <section class="Topbox">
        <h2> Liste des patients : </h2>
    </section>

    <div class="profil-list">
        <div *ngFor="let profil of profilList">
            <app-viewProfil *ngIf="profil.role === 'patient'" [profil]="profil"></app-viewProfil>
        </div>
    </div>

    <section class="Topbox">
        <h2> Liste du personnel : </h2>
    </section>
    <div class="profil-list">
        <div *ngFor="let profil of profilList">
            <app-viewProfil *ngIf="profil.role === 'personnel'" [profil]="profil"></app-viewProfil>
        </div>
    </div>

    <app-comeBack class="returnButton"></app-comeBack>
</section>
