<app-header class="header"></app-header>
<section class="homePage">
    <button id="playButton" class="boutonHome" (click)="choixProfil()">JOUER A UN QUIZ</button><br/>
    <div class="listProfilHome" *ngIf="showProfil">
        <div class="recherche">
            <p id="info">Ecrire 'admin' pour revenir ici lorsqu'un patient joue à un quiz !!!</p>
            <input class="search-bar" type="text" placeholder="Rechercher un profil" [(ngModel)]="searchTerm" />
        </div>
        <div class="profil-list">
            <div id="profil" *ngFor="let profil of filterProfils()">
                <app-viewProfil *ngIf="profil.role !== 'admin'" [typeView]="'play'" [profil]="profil"></app-viewProfil>
            </div>
        </div>
    </div>
    <button id="quizButton" class="boutonHome" [routerLink]="['gestionQuiz']" >GESTION DES QUIZ</button><br/>
    <button id="profilButton" class="boutonHome" [routerLink]="['listProfil']" >GESTION DES PROFILS</button><br/>
    <button id="statsButton" class="boutonHome" [routerLink]="['stats']" >STATISTIQUES</button><br/>
</section>