
<app-header class="header"></app-header>
<section class="homePage">
    <button class="boutonHome" (click)="choixProfil()">JOUER A UN QUIZ
    </button><br/>
    <div *ngIf="showProfil" class="profil-list">
        <div *ngFor="let profil of profilList">
            <app-viewProfil *ngIf="profil.role !== 'admin'" [typeView]="'play'" [profil]="profil"></app-viewProfil>
        </div>
    </div>
    <button class="boutonHome" [routerLink]="['app-create-quiz']" >GESTION DES QUIZ</button><br/>
    <button class="boutonHome" [routerLink]="['listProfil']" >GESTION DES PROFILS</button><br/>
    <button class="boutonHome" [routerLink]="['stats']" >STATISTIQUES</button><br/>
</section>
