<div class="boutonTheme" matrio-class>
    <a href="/Quiz.html" class="boutonQuiz1">
        <button class="custom-button1">
            <span>DRAPEAUX</span>
          </button>
    </a>
    <a href="/Quiz.html" class="boutonQuiz2">
        <button class="custom-button2">
            <span>GEOGRAPHIE</span>
          </button>
    </a>
    <a href="/Quiz.html" class="boutonQuiz3">
        <button class="custom-button3">
            <span>SPORT</span>
          </button>
    </a>
</div>