.couleurFondProfil{
    background-color: lightyellow;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    margin-bottom: -12px;
    padding: 10px;
}
.linom{
    margin-top: 1%;
    font-weight: bold;

}

.liprenom{
    margin-top: 1%;
    font-weight: bold;

}

.liage{
    margin-top: 1%;
    font-weight: bold;
}

.imageP{
    position: absolute;
    left:85%;
    top:3%;
}

.audioClass, .videoClass, .photoClass, .indiceClass, .lectureAutoClass, .nbReponseClass, .disparitionClass, .reposeClass{
    margin-left: 10%;
    margin-top: 1%;
}

.optionName, .tailleText{
    margin-left: 2%;
}
.tailleText{
    margin-top: 1%;
    margin-bottom: 1%;
}

.tailleText{
    font-weight: bold;
}

.titreSection{
    font-weight: bold;
}
.box{
    background-color: rgb(168, 168, 168);
    border: 2px black solid;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

#imageProfil{
    position: absolute;
    left:94%;
    top:8%;
    height: 100px;
}

#infoPerso{
    height: 110px;
}

.jour, .mois, .annee{
    margin-right: 10px;
}

.jour, #name, #Prenom{
    margin-left: 10px;
}