<app-header></app-header>

<div class="searchHelp">
  <button class="boutonAide" (click)="tutorielWanted()"><app-texteAdaptatif texte="Tutoriel"></app-texteAdaptatif></button>
  <div class="recherche">
    <input class="search-bar" type="text" placeholder="Rechercher un quiz" (input)="quizShow($event)" [(ngModel)]="searchTerm" />
    <select class="selectTheme" name="theme-field" id="theme" (change)="themeShow($event)" [(ngModel)]="selectedTheme" required>
      <option value="">Sélectionner un thème</option>
      <option *ngFor="let currentTheme of themeList" [value]="currentTheme">{{currentTheme}}</option>
    </select>
  </div>
  <app-comeBack *ngIf="actualProfil.role === 'personnel'" [destination]="'home'"></app-comeBack>
</div>

<br>
<br>

<div class="liste" *ngFor="let theme of themeListShow">
  <div class="block">
    <div class="actualTheme">
      <p><app-texteAdaptatif texte="{{theme}}"></app-texteAdaptatif></p>
    </div>
    <div class="quizzes" *ngFor="let quiz of filterQuizsByTheme(theme)">
      <choixQuiz *ngIf="theme===this.selectedTheme || this.selectedTheme===''" [quiz]="quiz" (quizSelected)="quizSelected(quiz)"></choixQuiz>
    </div>
  </div>
</div>

<button class="boutonClavier" (window:keypress)="onSomeAction($event)"></button> <!-- bouton pour prendre en compte le clavier, il est invisible -->

<div class="popup" *ngIf="helpWanted">
  <p class="gras"><app-texteAdaptatif texte="Tutoriel"></app-texteAdaptatif></p>
  <p><app-texteAdaptatif texte="Comment jouer à un quiz ?"></app-texteAdaptatif></p>
  <div class="Question-tuto">
    <p class="Question-texte">
      <app-texteAdaptatif texte="Ceci est une question."></app-texteAdaptatif>
    </p>
    <button class="reponse-texte" name="button">
      <app-texteAdaptatif texte="Ceci est une réponse."></app-texteAdaptatif>
    </button>
  </div>
  <div *ngIf="optionIndice===true">
    <p><app-texteAdaptatif texte="Cliquer sur"></app-texteAdaptatif><button class="button-classique"><app-texteAdaptatif texte="indice"></app-texteAdaptatif></button><app-texteAdaptatif texte=" affiche un indice textuel."></app-texteAdaptatif></p>
    <p><app-texteAdaptatif texte="Une question peut avoir plusieurs indice."></app-texteAdaptatif></p>
    <p><app-texteAdaptatif texte="Quand il n'y en a plus, une mauvaise réponse disparait."></app-texteAdaptatif></p>
  </div>
  <button class="button-classique" (click)="stopShowTutoriel()"><app-texteAdaptatif texte="Fermer le tutoriel"></app-texteAdaptatif></button>

  </div>