.quiz-list {
    display: flex;
  }

  .returnButton{
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

.boutonClavier{
  display: none;
}

.search-bar {
  justify-self: center;
  width: 30%;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
  border: 2px solid #6958cf;
  border-radius: 0.5rem;
  font-size: 1.2em;
  text-align: center;
  outline: none;
  transition: all 0.3s ease;

}

.search-bar:focus {
  border-color: #a69fd1;
  box-shadow: 0 0 8px rgba(105, 88, 207, 0.5);
}

.recherche{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}