<app-header></app-header>

<div class="recherche">
    <input class="search-bar" type="text" placeholder="Rechercher un quiz" [(ngModel)]="searchTerm" />
    <select class="selectTheme" name="theme-field" id="theme" [(ngModel)]="selectedTheme" required>
      <option value="">Sélectionner un thème</option>
      <option *ngFor="let currentTheme of themeList" [value]="currentTheme">{{currentTheme}}</option>
    </select>
    <br>
  </div>
<div class="quiz-list">
    <div class="quiz" *ngFor="let quiz of filterQuizs()">
        <choixQuiz [quiz]="quiz" (quizSelected)="quizSelected(quiz)" (deleteQuiz)="deleteQuiz(quiz)"></choixQuiz>
    </div>
</div>

<button class="boutonClavier" (window:keypress)="onSomeAction($event)"></button> <!-- bouton pour prendre en compte le clavier, il est invisible -->
<app-comeBack *ngIf="afficher" class="returnButton" [destination]="'home'"></app-comeBack>