.quiz-list {
    display: flex;
  }

  .returnButton{
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

.boutonClavier{
  display: none;
}

.search-bar {
  justify-self: center;
  width: 30%;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
  border: 2px solid #6958cf;
  border-radius: 0.5rem;
  font-size: 1.2em;
  text-align: center;
  outline: none;
  transition: all 0.3s ease;

}

.search-bar:focus {
  border-color: #a69fd1;
  box-shadow: 0 0 8px rgba(105, 88, 207, 0.5);
}

.recherche{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: baseline;
}

.selectTheme {
  width: 10%;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  appearance: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px 5px;
}

.selectTheme:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 0 3px rgba(102, 175, 233, 0.6);
}