.total {
    width: 300px;
    border : 2px solid black; 

}

.profil {
    align-items: center;
    width: 300px;
    height: 100px;

    color: black;
    background-color: lightgray;

    display: grid;
    grid-template-rows: 30% 5% 30% 5% 30%;
    grid-template-columns: 30% 70%;
    

}

#imageProfil {
    max-height: 100px;
    width: auto;
    grid-area: 1/1/6/3; 
}

#nom {
    grid-row: 1;
    grid-column: 2;
}
#prenom {
    grid-row: 3;
    grid-column: 2;
}
#role {
    grid-row: 5;
    grid-column: 2;
}