.nomSite {
    margin-left: 1%;
    margin-top: -1%;
    width: 500px;
}

.nomSite-texte {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px; 
    font-size: 30px;
    height: auto;
    color: black;
    border-radius: 3rem;
    background-color: lightgray;
    border : 2px solid black;
}