<app-header></app-header>

<section class="returnButton">
  <app-comeBack [destination]="'home'"></app-comeBack>
</section>

<!-- Création de quiz -->
<app-create-quiz></app-create-quiz>


<!-- Affichage de tout les quiz -->

<div class="recherche">
    <input class="search-bar" type="text" placeholder="Rechercher un quiz" data-testid="searchBar" id="searchBar" (input)="quizShow($event)" [(ngModel)]="searchTerm" />
    <select class="selectTheme" name="theme-field" data-testid="searchBarTheme" id="theme" (change)="themeShow($event)" [(ngModel)]="selectedTheme" required>
        <option value="">Sélectionner un thème</option>
        <option *ngFor="let currentTheme of themeList" [value]="currentTheme">{{currentTheme}}</option>
    </select>
</div>

<div class="liste" *ngFor="let theme of themeListShow">
    <div class="block">
      <div class="actualTheme">
        <p><app-texteAdaptatif texte="{{theme}}"></app-texteAdaptatif></p>
      </div>
      <div class="quizzes" id="listQuiz" *ngFor="let quiz of filterQuizsByTheme(theme)">
        <app-viewQuiz id="quiz" [quiz]="quiz"></app-viewQuiz>
      </div>
    </div>
</div>


