.quiz-list {
    display: flex;
    flex-wrap: wrap;
}

.returnButton{
  margin-left: 35%;
}

.search-bar {
  margin-top: 20px;
  justify-self: center;
  width: 10%;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
  border: 2px solid #6958cf;
  border-radius: 0.5rem;
  font-size: 1.2em;
  text-align: center;
  outline: none;
  transition: all 0.3s ease;

}

.search-bar:focus {
  border-color: #a69fd1;
  box-shadow: 0 0 8px rgba(105, 88, 207, 0.5);
}
