.sommet {
    width: 98%;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: lightgray;
    border : 2px solid black;
    border-radius: 8px;
}

#logo {
    height: 100px;
    width: 100px;
}

.nomSite {
    grid-column: 1;
    width: auto;
    height: 100px;
    margin-left: 47%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nomSite-texte {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto; 
    font-size: 40px;
    height: auto;
    
    color: black;
    background-color: lightgray;
}

.profil {
    grid-column: 2;
    margin-left: auto;
    margin-right: 10px;
    align-items: center;
    width: auto;
    height: 100px;
    
    border-radius: 3rem;
    color: black;
    background-color: lightgray;

    display: grid;
    grid-template-rows: 30% 5% 30% 5% 30%;
    grid-template-columns: 1fr 5px 70%;

}

#imageProfil {
    max-height: 100px;
    width: auto;
    grid-area: 1/1/6/2;
    border-left : 2px solid black;  
    border-right : 2px solid black; 
}

#nom {
    grid-row: 1;
    grid-column: 3;
}
#prenom {
    grid-row: 3;
    grid-column: 3;
}
#role {
    grid-row: 5;
    grid-column: 3;
}