<div class="card">
    <h2>Modifier les valeurs globales du Quiz </h2>
    <form [formGroup]="quizGlobalForm">
    <section class="indent">
        <label> Nom <br>
            <input class="input-custom" type="text" id="nom" [formControlName]="'nom'" required>
        </label><p class="valeurActuel">{{this.nom}}</p>
    </section>

    <section class="indent">
        <label> Thème <br>
            <select name="input-custom" id="theme" [formControlName]="'theme'" required>
                <option *ngFor="let currentTheme of themeList" [value]="currentTheme">{{currentTheme}}</option>
            </select> 
        </label><p class="valeurActuel">{{this.theme}}</p>
    </section>
    
    <button class="boutonValeurGlobal" type="submit" [disabled]="!quizGlobalForm.valid" (click)="editGlobalQuiz()">Modifier</button>
    </form>
</div>