.card {
    width: 320px;
    border: solid black 2px;
    background-color: lightgray;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.boutonValeurGlobal{
    margin-top: 2%;
}

.photo {
    width: 150px;
}  