                <!-- Vue très simple pour choisir un joueur -->
<div class="shortView" *ngIf="typeView==='play'" >
    <h2>
        <span> Nom : {{profil.nom}}   </span><br/>
        <span> Prénom: {{profil.prenom}} </span><br/>
        <img id="imageProfil" src="./assets/imageProfil/default.png" ><br/>
        <button [routerLink]="['listQuiz']" (click)="selectProfil(profil)">Sélectionner</button>
    </h2>
</div>

                    <!-- Vue simple listProfil -->
<div class="shortView" *ngIf="typeView==='full' || typeView==='list'" >
    <h2>
        <span> Nom : {{profil.nom}}   </span><br/>
        <span> Prénom: {{profil.prenom}} </span><br/>
        <img id="imageProfil" src="./assets/imageProfil/default.png" ><br/>
        <button (click)="showProfil(profil)">Afficher</button>
        <button (click)="selectProfil(profil)">Sélectionner</button>
        <button (click)="deleteProfil(profil)">Supprimer</button>
        
    </h2>
</div>
                    <!-- Vue complète si affiche profil -->
<div class="popup" *ngIf="typeView==='full'">
    <span> Nom : {{profil.nom}}   </span><br/>
    <span> Prénom: {{profil.prenom}} </span><br/>
    <img id="imageProfil" src="./assets/imageProfil/default.png" ><br/>
    Date de Naissance : <br/>
    <span *ngIf="profil.dateNaissance!==undefined; else elseDate"> {{profil.dateNaissance[0]}} / {{profil.dateNaissance[1]}} / {{profil.dateNaissance[2]}}</span>
    <ng-template #elseDate>Non renseignée</ng-template>
    
    <br/><br/>Option(s) : <br/>
    <div class="options">
        <span *ngIf="profil.optionPhoto===true">Question avec photo<br/></span>
        <span *ngIf="profil.optionIndice===true">Utilisation d'indices<br/></span>
        <span *ngIf="profil.optionSupprimerMauvaisesReponses===true">Suppression des mauvaises réponses<br/></span>
        <span *ngIf="profil.optionReposerQuestionApres===true">Reposer plus tard les questions ratées<br/></span>
    </div>
    
    <br/><br/>Restriction(s) : <br/>
    <div class="options">
        <span *ngIf="profil.optionPhoto!==true">Pas de question avec photo<br/></span>
        <span *ngIf="profil.optionIndice!==true">Pas d'utilisation d'indices<br/></span>
        <span *ngIf="profil.optionSupprimerMauvaisesReponses!==true">Pas de suppression des mauvaises réponses<br/></span>
        <span *ngIf="profil.optionReposerQuestionApres!==true">Ne pas reposer plus tard les questions ratées<br/></span>
    </div>
    
    <br/><br/>Taille du texte : {{profil.optionTailleTexte}}<br/>
    <button (click)="stopShowProfil(profil)">Fermer</button>
</div>