#imageProfil {
    width: 100px;
}

div {
    border: solid black 1px;
    width: 250px;
    text-align: center;
}

#popup {
    //position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    box-shadow: 0 0 5px 0 red;
    width: 500px;
    height: 500px;
    background-color: white;
}