                <!-- Vue très simple pour choisir un joueur -->
<div (click)="selectProfil(profil)" class="shortView" *ngIf="typeView==='play'" >
    <h2>
        <span> Nom : {{profil.nom}}   </span><br/>
        <span> Prénom: {{profil.prenom}} </span><br/><br/>
        <img id="imageProfil" [src]=profil.photo /><br/>
    </h2>
</div>

                    <!-- Vue simple listProfil -->
<div class="shortView" *ngIf="typeView==='full' || typeView==='list'" >
    <h2>
        <span> Nom : {{profil.nom}}   </span><br/>
        <span> Prénom: {{profil.prenom}} </span><br/>
        <img id="imageProfil" [src]=profil.photo /><br/>
        <button (click)="profilShow('full')">Afficher</button>
        <button (click)="editProfil(profil)">Modifier</button>
        <button (click)="deleteProfil(profil)">Supprimer</button>
    </h2>
</div>
                    <!-- Vue complète si affiche profil -->
<div class="popup" *ngIf="typeView==='full'">
    <span> Nom : {{profil.nom}}   </span><br/>
    <span> Prénom: {{profil.prenom}} </span><br/>
    <img id="imageProfil" [src]=profil.photo /><br/>
    Date de Naissance : <br/>
    <span *ngIf="profil.dateNaissance!==undefined && birthDayOk(); else elseDate"> {{profil.dateNaissance[0]}} / {{profil.dateNaissance[1]}} / {{profil.dateNaissance[2]}}</span>
    <ng-template #elseDate>Non renseignée</ng-template>
    
    <br/><br/>Option(s) : <br/>
    <div class="options">
        <span *ngIf="profil.optionPhoto===true">Question avec photo<br/></span>
        <span *ngIf="profil.optionIndice===true">Utilisation d'indices<br/></span>
        <span *ngIf="profil.optionSupprimerMauvaisesReponses===true">Suppression des mauvaises réponses<br/></span>
        <span *ngIf="profil.optionReposerQuestionApres===true">Reposer plus tard les questions ratées<br/></span>
    </div>
    
    <br/><br/>Restriction(s) : <br/>
    <div class="options">
        <span *ngIf="profil.optionPhoto!==true">Pas de question avec photo<br/></span>
        <span *ngIf="profil.optionIndice!==true">Pas d'utilisation d'indices<br/></span>
        <span *ngIf="profil.optionSupprimerMauvaisesReponses!==true">Pas de suppression des mauvaises réponses<br/></span>
        <span *ngIf="profil.optionReposerQuestionApres!==true">Ne pas reposer plus tard les questions ratées<br/></span>
        <br/><br/>Taille du texte : {{profil.optionTailleTexte}}<br/>
        Temps d'affichage des bonnes réponses : {{profil.optionTempsReponse}}<br/><br/>
        Quiz avec le plus mauvais score : {{worstQuiz}}
        <br/><button>Aller voir les stats</button><br/>
        <button id="playButton" (click)="selectProfil(profil)">Jouer</button>
        <button id="closeButton" (click)="profilShow('list')">Fermer</button>
    </div>
</div>