.card{
    width: 400px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgb(238, 207, 171);
    border-radius: 10px;
    border:2px black solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: medium; 
}

#imageQuiz {
    height: 150px;
    max-width: 350px;
    margin-top: 10px;
}

button {
    height: 50px;
    width: 200px;
    margin-top: 20px;
    display: inline-block;
    transition: transform 0.5s ease;
    margin-bottom: -29px;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.bt {
    display: grid;
    grid-template-columns: 50% 50%;
    height: max-content;
}