.card{
    width: 400px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    border-radius: 10px;
    border:2px black solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: medium;
}

#imageQuiz {
    height: 150px;
    max-width: 350px;
    margin-top: 10px;
}

button {
    display: inline-block;
    margin-top: 20px;
}

.bt {
    display: flex;
    justify-content: space-evenly;
}