<div class="statsQuiz">
    <p>Statistiques par quiz : </p>
    <select [(ngModel)]="selectedQuiz" class="choixQuiz" name="choixQuiz">
        <option value="">Choix du Quiz</option>
        <option *ngFor="let quiz of listeQuiz" [value]="quiz">{{quiz.name}}</option>
    </select>

    <ul>
        <li>Nombre de fois joué : </li>
        <li>Score moyen : </li>
        <li>Nombre moyen d'indices utilisés : </li>
        <li>Pourcentage de réussite pour chaque question : </li>
        <!--
        <ol *ngFor="let num in achievedPercentPerQuestion">
            <li>*enoncé* : num</li>
        </ol>-->
        <li>Nombre de questions : </li>
        <ul>
            <li>Textuelles : {{selectedQuiz.nbQuestionsPerType[0]}}</li>
            <li>Auditives : {{selectedQuiz.nbQuestionsPerType[1]}}</li>
            <li>Visuelles : {{selectedQuiz.nbQuestionsPerType[2]}}</li>
        </ul>
    </ul>
</div>