<div class="statsQuiz">
    <p>Statistiques par quiz : </p>
    <select class="choixQuiz" name="choixQuiz">
        <option value="">Choix du Quiz</option>
        <option value="Quiz1">Quiz 1</option>
        <option value="Quiz2">Quiz 2</option>
    </select>

    <ul>
        <li>Nombre de fois joué : {{playedTime}}</li>
        <li>Score moyen : {{meanScore}}</li>
        <li>Nombre moyen d'indices utilisés : {{meanHintUsed}}</li>
        <li>Pourcentage de réussite pour chaque question : </li>
        <ol *ngFor="let number in achievedPercentPerQuestion">
            <li>*enoncé* : number</li>
        </ol>
        <li>Nombre de questions : </li>
        <ul>
            <li>Textuelles : {{questionNumberPerType[0]}}</li>
            <li>Auditives : {{questionNumberPerType[1]}}</li>
            <li>Visuelles : {{questionNumberPerType[2]}}</li>
        </ul>
    </ul>
</div>