.statsQuiz {
    margin-top: 10px;
    background-color: rgb(161, 161, 161);
    border: solid black 2px;
    border-radius: 10px;
    height: auto;
    font-size: large;
    font-family: "OpenDyslexic", sans-serif;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;

}

.titreStat{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.routing {
    display: flex;
    align-items: center;
    justify-content: center;
}

.choixQuiz:hover {
    cursor: pointer;
}

#quizChart {
    max-height: 400px;
}