<div class="statsQuiz">
    <p>Statistiques par quiz : </p>
    <select class="choixQuiz" name="choixQuiz">
        <option value="">Choix du Quiz</option>
        <option value="Quiz1">Quiz 1</option>
        <option value="Quiz2">Quiz 2</option>
    </select>

    <ul>
        <li>Nombre de fois joué : </li>
        <li>Score moyen : </li>
        <li>Nombre moyen d'indices utilisés : </li>
        <li>Pourcentage de réussite pour chaque question : </li>
        <ol>
            <li>*enoncé* : </li>
            <li>*enoncé* : </li>
            <li>*enoncé* : </li>
            <li>*enoncé* : </li>
            <li>*enoncé* : </li>
            <li>*enoncé* : </li>
            <li>*enoncé* : </li>
            <li>*enoncé* : </li>
            <li>*enoncé* : </li>
            <li>*enoncé* : </li>
        </ol>
        <li>Nombre de questions : </li>
        <ul>
            <li>Textuelles : </li>
            <li>Auditives : </li>
            <li>Visuelles : </li>
        </ul>
    </ul>
</div>