.statsGlobales {
    margin-top: 10px;
    background-color: rgb(228, 205, 205);
    border: solid black 2px;
    border-radius: 10px;
    height: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.titreStat{
    font-weight: bold;
    font-size: 20px;
}
