<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div class="card" *ngIf="quiz">
    <h2>
        <span class="material-symbols-outlined" *ngIf="this.quiz.theme==='Actor'">videocam</span> 
        <span class="material-symbols-outlined" *ngIf="this.quiz.theme==='Sport'">sports_baseball</span>    
        <span> Nom : {{quiz.name}}   </span><br/>
        <span> Theme: {{quiz.theme}} </span><br/>
        <span> Nb questions : {{quiz?.questions?.length}}</span><br/>
    </h2>
    <button class="button-card" (click)="selectQuiz()">Select</button>
    <button class="button-card" (click)="delete()">Delete</button>
</div>