button {
    display: inline-block;
    text-align: center;
    font-size: 30px;
    background-color: lightgrey;
    border: solid black 2px;
    border-radius: 1rem;
    cursor:pointer;
}

button:hover {
    background-color: darkgrey;
}