<section class="main-section" >
    <app-header class="profil" *ngIf="infoQuiz.endOfQuiz===true"></app-header>
    <div class="content" *ngIf="infoQuiz.askedToRestoreGame===false; else elseBlock">
        <div class="side-by-side">
            <app-indice *ngIf="optionIndice===true && infoQuiz.endOfQuiz===false && infoQuiz.showHintButton === true" class="indice"></app-indice>

            <span class="question" *ngIf="infoQuiz.endOfQuiz===false">
                <!-- OptionPhoto activée -->
                <span *ngIf="actualProfil.optionPhoto===true; else elsePasOptionPhoto">
                    <span *ngIf="choosenQuiz.questions[infoQuiz.actualQuestionNumber]?.optionImageLien!==undefined; else elsePhoto">
                        <app-question [question]="choosenQuiz.questions[infoQuiz.actualQuestionNumber].label" [photo]="choosenQuiz.questions[infoQuiz.actualQuestionNumber].optionImageLien" class="question"></app-question>
                    </span>
                    <ng-template #elsePhoto><app-question [question]="choosenQuiz.questions[infoQuiz.actualQuestionNumber].label" class="question"></app-question></ng-template>
                </span>

                <!-- Option Photo désactivée -->
                <ng-template #elsePasOptionPhoto> 
                    <span *ngIf="choosenQuiz.questions[infoQuiz.actualQuestionNumber]?.optionImageLien!==undefined && choosenQuiz.questions[infoQuiz.actualQuestionNumber]?.optionImageLien!= '' && choosenQuiz.questions[infoQuiz.actualQuestionNumber]?.optionImageLien!= 'none'; else elsePasOptionPhoto2">
                        <app-question [question]="choosenQuiz.questions[infoQuiz.actualQuestionNumber].optionImageQuestion" class="question"></app-question>
                    </span>
                    <ng-template #elsePasOptionPhoto2> 
                        <app-question [question]="choosenQuiz.questions[infoQuiz.actualQuestionNumber].label" class="question"></app-question> 
                    </ng-template>
                </ng-template>
            </span>
            <button *ngIf="actualProfil.optionSkipQuestion===true && infoQuiz.replayQuestion===false && infoQuiz.endOfQuiz===false" (click)="skipQuestion()" (contextmenu)="catchClicDroit('skip')" id="skipQuestion"><app-texteAdaptatif [texte]=skip></app-texteAdaptatif></button>            
        </div>

        <div class="listIndices" *ngIf="infoQuiz.endOfQuiz===false">
            <div class="zoneIndice" *ngIf="infoQuiz.nbHintAskedForActualQuestion>0 && showHint[0] && choosenQuiz.questions[infoQuiz.actualQuestionNumber].indice.length >= 1">
                <p><app-texteAdaptatif [texte]=choosenQuiz.questions[infoQuiz.actualQuestionNumber].indice[0].value></app-texteAdaptatif></p>
            </div>
            <div class="zoneIndice" *ngIf="infoQuiz.nbHintAskedForActualQuestion>1 && showHint[1] && choosenQuiz.questions[infoQuiz.actualQuestionNumber].indice.length >= 2">
                <p><app-texteAdaptatif [texte]=choosenQuiz.questions[infoQuiz.actualQuestionNumber].indice[1].value></app-texteAdaptatif></p>
            </div>
            <div class="zoneIndice" *ngIf="infoQuiz.nbHintAskedForActualQuestion>2 && showHint[2] && choosenQuiz.questions[infoQuiz.actualQuestionNumber].indice.length >= 3">
                <p><app-texteAdaptatif [texte]=choosenQuiz.questions[infoQuiz.actualQuestionNumber].indice[2].value></app-texteAdaptatif></p>
            </div>
        </div>
        
        <app-list-reponses  class="listreponse"></app-list-reponses>
        <app-comeBack *ngIf="infoQuiz.endOfQuiz===false" class="returnButton" [destination]="'quizList'"></app-comeBack>
    </div>

    <ng-template #elseBlock>
        <div id="alertRestoreQuiz">
            <app-texteAdaptatif [texte]=ask></app-texteAdaptatif>
        </div>
        <div id="buttons">
            <button class="buttonAlertLeft" (click)="restoreQuiz()" (contextmenu)="catchClicDroit('left')">Reprendre</button>
            <button class="buttonAlertRight" (click)="restartQuiz()" (contextmenu)="catchClicDroit('right')">Recommencer</button>
        </div>
    </ng-template>
</section>