<section class="main-section" >
    <app-header class="profil"></app-header>
    <div class="content" *ngIf="!tutorielView || !actualProfil.tutoriel">
        <div class="side-by-side">
            <app-indice *ngIf="optionIndice===true" class="indice"></app-indice>

            <span class="question">
                <!-- OptionPhoto activée -->
                <span *ngIf="actualProfil.optionPhoto===true; else elsePasOptionPhoto">
                    <span *ngIf="choosenQuiz.questions[infoQuiz.actualQuestionNumber]?.optionImageLien!==undefined; else elsePhoto">
                        <app-question [question]="choosenQuiz.questions[infoQuiz.actualQuestionNumber].label" [photo]="choosenQuiz.questions[infoQuiz.actualQuestionNumber].optionImageLien" class="question"></app-question>
                    </span>
                    <ng-template #elsePhoto><app-question [question]="choosenQuiz.questions[infoQuiz.actualQuestionNumber].label" class="question"></app-question></ng-template>
                </span>

                <!-- Option Photo désactivée -->
                <ng-template #elsePasOptionPhoto> 
                    <span *ngIf="choosenQuiz.questions[infoQuiz.actualQuestionNumber]?.optionImageLien!==undefined; else elsePasOptionPhoto2">
                        <app-question [question]="choosenQuiz.questions[infoQuiz.actualQuestionNumber].optionImageQuestion" class="question"></app-question>
                    </span>
                    <ng-template #elsePasOptionPhoto2> 
                        <app-question [question]="choosenQuiz.questions[infoQuiz.actualQuestionNumber].label" class="question"></app-question> 
                    </ng-template>
                </ng-template>
            </span>


            <button class="boutonAide" (click)="tutorielWanted()"><app-texteAdaptatif texte="Aide ?"></app-texteAdaptatif></button>
            
        </div> 
        <div class="listIndices">
            <div class="zoneIndice" *ngIf="infoQuiz.nbHintAskedForActualQuestion>0">
                <p>{{choosenQuiz.questions[infoQuiz.actualQuestionNumber].indice[0].value}}</p>
            </div>
            <div class="zoneIndice" *ngIf="infoQuiz.nbHintAskedForActualQuestion>1">
                <p>{{choosenQuiz.questions[infoQuiz.actualQuestionNumber].indice[1].value}}</p>
            </div>
            <div class="zoneIndice" *ngIf="infoQuiz.nbHintAskedForActualQuestion>2">
                <p>{{choosenQuiz.questions[infoQuiz.actualQuestionNumber].indice[2].value}}</p>
            </div>
        </div>
        
        <app-list-reponses  class="listreponse"></app-list-reponses>
        <app-comeBack class="returnButton" [destination]="'quizList'"></app-comeBack>
    </div>
</section>


<div class="popup" *ngIf="(tutorielView && actualProfil.tutoriel) || helpWanted">
    <p class="gras">Aide ?</p>
    <p>Vous êtes actuellement en train de jouer à un quiz.</p>
    <div class="Question-tuto">
        <p class="Question-texte">
            Ceci est une question.
        </p>
        <button class="reponse-texte" name="button">
            Ceci est une réponse.
        </button>
    </div>
    <p>Cliquer sur <button class="button-classique">Aide ?</button> ouvre cette page</p>
    
    <p>Cliquer sur <button class="button-classique">Indice</button> affiche un indice textuel. Une question peut avoir plusieurs indice, et quand il n'y en a plus, une mauvaise réponse disparait.</p>

    <label for="showTutoriel">J'ai compris le tutoriel</label>
    <input id="showTutoriel" type="checkbox" (change)="dontShowTutoriel()" value="show"><br/><br/>

    <button class="button-classique" (click)="stopShowTutoriel()">Clic gauche ici pour fermer l'aide</button>
</div>