
<section class="main-section">
    <app-header class="profil"></app-header>
    <div class="content">
        <div class="side-by-side">
            <app-indice class="indice"></app-indice>
            <app-question [question]="choosenQuiz.questions[actualQuestionNumber].label" class="question"></app-question>
        </div> 
        <app-list-reponses  [quiz]="choosenQuiz" class="listreponse"></app-list-reponses>
        <app-comeBack class="returnButton"></app-comeBack>
    </div>
</section>


