.card {
    width: 300px;
    border: solid black 2px;
    background-color: lightgray;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}
.returnButton{
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

.create {
    display: flex;
}

.boutonCreatQuiz{
    margin-top: 2%;
}

.createQuizTheme{
    margin-top: 1%;
}

.createQuiz{
    margin-right: 2%;
}