<section class="createQuizTheme">
  <div class="create">
    <section class="createQuiz">
      <div class="card">
        <h2>Créer un nouveau Quiz</h2>
        <form [formGroup]="quizForm">
          <label for="title"> Titre <br>
            <input class="input-custom" type="text" id="name" [formControlName]="'name'" required>
          </label><br/>
          <label for="theme">Thème <br>
            <select name="theme-field" id="theme" [formControlName]="'theme'" required>
              <option *ngFor="let currentTheme of themeList" [value]="currentTheme">{{currentTheme}}</option>
            </select>
          </label><br>
          <button class="boutonCreatQuiz" type="submit" [disabled]="!quizForm.valid" (click)="addQuiz()">Ajouter le Quiz</button>
        </form>
      </div>
    </section>

    <app-addTheme></app-addTheme>
      <!-- <br><br>{{quizForm.getRawValue() | json}} -->
  </div>
</section>