<app-header></app-header>

<button class="bontonEditQuiz" type="submit" (click)="return()">Retour</button>
<!-- Ajouter une question -->
<section class="TopPageEditQuiz">
    <app-addQuestion></app-addQuestion>

    <!-- Changer le nom / thème du quiz -->
    <app-editQuizGlobal></app-editQuizGlobal>
    <app-addTheme></app-addTheme>
</section>


<!-- Modifier / Supprimer une question -->
<section class="sectionQuizListe">
    <div class="question-list">
        <div *ngFor="let currentQuestion of quiz.questions">
                <app-editQuestion [question]="currentQuestion" async></app-editQuestion>
        </div>
    </div> 
</section>


