.QuestionPart {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.audio { 
    padding-left: 5%; 
    margin-right: 10%; 
}

.question, .QuestionPart {
    flex-grow: 1;
    text-align: center;
}

.indice {
    padding-right: 5%;
    margin-left: 10%;
}

