.titrePage{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: white;
    font-family: "OpenDyslexic", sans-serif;
    font-weight: bold;
    text-shadow: 
        -2px -2px 0 #000000,  
        2px -2px 0 #000000,
        -2px 2px 0 #000000,
        2px 2px 0 #000000;
    color: #40E0D0;
}