.statsPatient {
    margin-top: 10px;
    background-color: rgb(224, 202, 202);
    border: solid black 2px;
    border-radius: 10px;
    height: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.titreStat{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.routing {
    display: flex;
    align-items: center;
    justify-content: center;
}

.choixQuiz:hover {
    cursor: pointer;
}

#patientChart {
    max-height: 400px;
}

button {
    width: 98%;
    height: 30px;
    transition: transform 0.5s ease;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}