<div class="statsPatient">
    <p class="titreStat">Statistiques du patient</p>
    <select [(ngModel)]="selectedPatient" (change)="onPatientSelected(selectedPatient)" class="choixPatient" name="choixPatient">
        <option value="">Please choose a patient</option>
        <option *ngFor="let pat of listePatient" [value]="pat" >{{pat.prenom}}</option>
    </select>

    <ul>
        <li>Nom du patient : {{selectedPatient.prenom}}</li>
        <li>Options du patient : 0</li>
        <li>Nombre de quiz réalisés : <!--{{patient.selfStats.nbQuizDone}}--></li>
        <li>Score moyen : <!--{{patient.selfStats.meanScore}}--></li>
        <li>5 derniers quiz joués : </li>
    </ul>
    <div class="statsQuiz"> <!--*ngFor(quizDuPatient)-->
        <p>5 derniers quiz</p>
    </div>
</div>