.bigButton {

    display: flex;
    align-items: center;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.bigButton-texte {
    height: 5rem; /* Hauteur du texte */
    width: auto; /* Largeur automatique */
    min-width: 500px; /* Largeur minimale du conteneur du bouton */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border-radius: 0.5rem;
    background-color: #6958cf;
       
    border: black 2px solid;

    text-align: center;
    font-size: 2em;
    color: white;
    font-family: "OpenDyslexic", sans-serif;
    text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.bigButton-texte:hover {
    background-color: #7e75b2;
}