.card {
    width: 300px;
    border: solid black 2px;
    background-color: lightgray;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.boutonAddQuestion{
    margin-top: 2%;
}

.indent{
    margin-top: 2%;
}