<div class="card">
    <h2>Ajouter une question</h2>
    <form [formGroup]="questionForm">
    <label> Question <br>
        <input class="input-custom" type="text" id="label" [formControlName]="'label'" required>
    </label><br/>
    <label> Réponse 1 <br>
        <input class="input-custom" type="text" id="q1" [formControlName]="'q1'" required>
    </label><br/>
    <label> Réponse 2 <br>
        <input class="input-custom" type="text" id="q2" [formControlName]="'q2'" required>
        </label><br/>
    <label> Réponse 3 <br>
        <input class="input-custom" type="text" id="q3" [formControlName]="'q3'" required>
        </label><br/>
    <label> Réponse 4 <br>
        <input class="input-custom" type="text" id="q4" [formControlName]="'q4'" required>
        </label><br/>
    <label>Bonne réponse : <br>
        <select name="theme-field" id="goodAnswer" [formControlName]="'goodAnswer'" required>
        <option [value]="1">1</option>
        <option [value]="2">2</option>
        <option [value]="3">3</option>
        <option [value]="4">4</option>
        </select>
    </label><br>
    <button type="submit" [disabled]="!questionForm.valid" (click)="addQuestion()">Ajouter la Question</button>
    </form>
</div>