<section class="sectionAddQuestion">
    <div class="card">
        <h2>Ajouter une question</h2>
        <form [formGroup]="questionForm">

        <label> Question <br>
            <input class="input-custom" type="text" id="label" [formControlName]="'label'" required>
        </label><br/>

        <section  class="indent">
            <label> Réponse 1 <br>
                <input class="input-custom" type="text" id="q1" [formControlName]="'q1'" required>
            </label><br/>
        </section>
        
        <section  class="indent">
            <label> Réponse 2 <br>
                <input class="input-custom" type="text" id="q2" [formControlName]="'q2'" required>
            </label><br/>
        </section>

        <section  class="indent">
            <label> Réponse 3 <br>
                <input class="input-custom" type="text" id="q3" [formControlName]="'q3'" required>
            </label><br/>
        </section>
        
        <section  class="indent">
            <label> Réponse 4 <br>
                <input class="input-custom" type="text" id="q4" [formControlName]="'q4'" required>
            </label><br/>
        </section>

        <section class="indent">
            <label> Indices:<br>
                <div class="DAindice" *ngIf="nbIndice[0]===true">
                    <p>1.</p>
                    <input class="input-custom" type="text" id="i1" [formControlName]="'i1'" required>
                </div>
                <div class="DAindice" *ngIf="nbIndice[1]===true">
                    <p>2.</p>
                    <input class="input-custom" type="text" id="i2" [formControlName]="'i2'" required>
                </div>
                <div class="DAindice" *ngIf="nbIndice[2]===true">
                    <p>3.</p>
                    <input class="input-custom" type="text" id="i3" [formControlName]="'i3'" required>
                </div>

            </label><br/>

            <button (click)="addIndice()">Ajouter indice</button>
            <button (click)="deleteIndice()">Supprimer indice</button>
        </section>
        
        <section  class="indent">
            <label><br>Bonne réponse : <br>
                <select name="theme-field" id="goodAnswer" [formControlName]="'goodAnswer'" required>
                <option [value]="0">1</option>
                <option [value]="1">2</option>
                <option [value]="2">3</option>
                <option [value]="3">4</option>
                </select>
            </label><br>
        </section><br>

        <button class="boutonAddQuestion" type="submit" [disabled]="!questionForm.valid" (click)="addQuestion()">Ajouter la Question</button>
        </form>
    </div>
</section>