.boutonsConfig {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 80px;
}

.AjouterProfil{
    margin-left: 29%;
}

.AjouterProfil1{
    margin-top: 10%;
    margin-left: 30%;
}

a {
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('./assets/fond.jpg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}