.reponse {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    height: 100%;  
}

.reponse-texte {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 25%;
    height: 100px;  
    color: white;
    
    border-radius: 0.5rem;
    border: black 2px solid;
    background-color: #6958cf;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.reponse-texte:hover {
    background-color: #7e75b2;
}