.question {
    align-items: baseline;
    justify-content: center;
}

.question-texte {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 60%;
    height: auto;  
    color: white;
    border-radius: 3rem;
    background-color: lightsalmon;
}