.Question {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    height: 100%;  
}

.Question-texte {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 60%;
    height: 100px;  
    color: white;
    border-radius: 3rem;
    background-color: lightsalmon;
}