<div class="listreponse" *ngIf="actualResponses">
    <button class="reponse-texte" id="first" name="button" (click)="responseSelected(0)">{{actualResponses[0].value}}</button>
    <button class="reponse-texte" id="second" name="button" (click)="responseSelected(1)">{{actualResponses[1].value}}</button>
    <button class="reponse-texte" id="third" name="button" (click)="responseSelected(2)">{{actualResponses[2].value}}</button>
    <button class="reponse-texte" id="fourth" name="button" (click)="responseSelected(3)">{{actualResponses[3].value}}</button>
    <div id="endPopup" *ngIf="endOfQuiz">
        <p>End of quiz</p>
        <app-comeBack class="returnButton"></app-comeBack>
    </div>
</div>